<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="com.lab.A" init-method="afterCreation" destroy-method="beforeDeletion">
    </bean>

    <bean class="com.lab.B" init-method="afterCreation" destroy-method="beforeDeletion" scope="prototype">
    </bean>


</beans>